name: Build and deploy Python app to Azure Web App - PitchMaster

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Build Docker image
      - name: Build Docker image
        run: docker build -t pitchmaster:latest .

      # Tag Docker image
      - name: Tag Docker image
        run: docker tag pitchmaster:latest mmyregistry.azurecr.io/pitchmaster:latest

      # Login to Azure Container Registries
      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: mmyregistry.azurecr.io
          username: ${{ secrets.AZURE_CONTAINER_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_CONTAINER_REGISTRY_PASSWORD }}

      # Push Docker image push
      - name: Push Docker image
        run: docker push mmyregistry.azurecr.io/pitchmaster:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
      # Login to Azure
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
            
      # Ensure login to Azure Container Registry for deploy job
      - name: Login to Azure Container Registry
        run: |
          echo "${{ secrets.AZURE_CONTAINER_REGISTRY_PASSWORD }}" | docker login myregistry.azurecr.io -u ${{ secrets.AZURE_CONTAINER_REGISTRY_USERNAME }} --password-stdin
            
      # Pull the Docker image
      - name: Pull Docker image
        run: docker pull myregistry.azurecr.io/pitchmaster:latest

      # Run database migrations inside the Docker container
      - name: Run database migrations
        run: |
          docker run --rm \
            -e FLASK_APP=main.py \
            -e FLASK_ENV=production \
            -e SQLALCHEMY_DATABASE_URI="sqlite:///production_db.sqlite" \
            myregistry.azurecr.io/pitchmaster:latest \
            flask db upgrade

      # Configure Azure Web App Container
      - name: Configure Azure Web App Container
        run: |
          az webapp config container set \
            --name PitchMaster \
            --resource-group InsuBuddy \
            --docker-custom-image-name mmyregistry.azurecr.io/pitchmaster:latest \
            --docker-registry-server-url https://mmyregistry.azurecr.io \
            --docker-registry-server-user ${{ secrets.AZURE_CONTAINER_REGISTRY_USERNAME }} \
            --docker-registry-server-password ${{ secrets.AZURE_CONTAINER_REGISTRY_PASSWORD }}

      # Deploy to Azure Web App for Containers
      - name: Deploy to Azure Web App for Containers
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'PitchMaster'
          images: mmyregistry.azurecr.io/pitchmaster:latest
          resource-group: 'InsuBuddy'
          slot-name: 'production'